

<div class="text-center">
    <h1 class="display-4 p-1">Home page</h1>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-center align-items-center">
                    <h1>Lista Pizze api:</h1>
                    <input class="js_search" placeholder="Cerca per titolo" />
                </div>
            </div>
            <div class="col js_no_pizza d-none">
                <h3>Non hai inserito ancora pizze</h3>
            </div>
            <div class="row js_pizza_table d-none">
                <!-- Qui inseriamo i post -->
            </div>
        </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    function getList(name) {
        axios.get('api/PizzaWebApi/GetAllPizzas',
            {
                params:
                {
                    filterName: name
                }
            }).then((res) => {
                if (res.data.length == 0) {
                    document.querySelector('.js_no_post').classList.remove('d-none');
                    document.querySelector('.js_pizza_table').classList.add('d-none');
                }
                else {
                    document.querySelector('.js_no_pizza').classList.add('d-none');
                    var postTable = document.querySelector('.js_pizza_table');
                    postTable.classList.remove('d-none');


                    postTable.innerHTML = '';
                    res.data.forEach((pizza) => {
                        console.log(pizza);
                        postTable.innerHTML += `
                                    <div class="col">

                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title">${pizza.name}</h5>
                                                <p class="card-text">${pizza.description}</p>
                                                <p class="card-text">${pizza.description}</p>
                                            </div>
                                            <div class="btn btn-danger" onclick="deleteById(${pizza.id})">Elimina</div>
                                        </div>
                                    </div>`;
                    });
                };
            });
    }

    function deleteById(id) {
        axios.delete("/api/PizzaWebApi/DeletePizza/" + id)
            .then((res) => {
                getList('');
            });
    }

    getList('');

    function search() {
        console.log(this.value);
        getList(this.value);
    }
    document.querySelector('.js_search').addEventListener('keyup', search)
</script>

